.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #532BA9;
  padding: 1;
  display: flex;
  justify-content: left;
  z-index: 1000;
}

.nav-left {
  list-style: none;
  display: flex;
  margin: left;
  padding: 1;
}

.nav-right {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.nav-right .nav-item {
  margin-right: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2vw;
}

.nav-link:hover {
  color: #ddddddeb;
}