.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: left;
    z-index: 1000;
  }
  
  .nav-left {
    list-style: none;
    display: flex;
    margin: left;
    padding: 1;
  }
  
  .nav-left .nav-item {
    margin-right: 20px;
  }
  
  .nav-right {
    list-style: none;
    display: flex;
    margin-left: auto;
  }
  
  .nav-right .nav-item {
    margin-right: 20px;
  }
  
    
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: #ddddddeb;
  }