.game {
  width: 100%;
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.game table {
  width: 100%;
}

.game table td {
  width: 70px;
  height: 70px;
}

.chimp-square {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 50px;
  background-color: #8b5cf6;
  font-size: 0;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.chimp-square:active {
  background-color: #bdb1dc;
}

.show-number {
  font-size: 1.5rem !important;
}

.chimp-square-hidden {
  opacity: 100%;
}

.startButton {
  display: block;
  width: 100%;
  margin: 20px 0;
  font-size: 1.2em;
}

.button-placeholder {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  text-align: center;
  font-size: 1.2em;
  color: white;
}

h2 {
  font-size: 2rem;
  margin-top: 5%;
  margin-bottom: 1%;
  color: white;
}

p {
  font-size: 1rem;
  margin-top: 1%;
  margin-bottom: 1%;
  color: white;
}

.dev-tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px; 
  align-items: center; 
  gap: 15px;
}

.dev-tools button {
  font-size: 1.2rem;
  padding: 10px 20px;
  cursor: pointer;

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.56);
  background: #643392;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(20px);
}