.user-tile h1 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 50px;
  }
  
  .user-tile input {
    width: 94%;
    height: 38px;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.56);
    background: linear-gradient(179deg, rgba(255, 255, 255, 0.18) 0.72%, rgba(255, 255, 255, 0.18) 99.25%);
    font-size: 22px;
  }
  
  .user-tile button {
    width: 345px;
    height: 56px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.56);
    background: linear-gradient(179deg, rgba(255, 255, 255, 0.23) 0.72%, rgba(255, 255, 255, 0.21) 99.25%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
    border-radius: 20px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }
  
  .user-tile button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .input-container {
    display: flex;
    width: 400px;
    height: 510px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0; 
  }

  .password-container {
   
    display: flex;
    width: 400px;
    height: 260px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0; 
    
  }


  .user-tile label {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    text-align: left;
    display: block;
    margin-bottom: 5px;
  }
  