.login-input-container {
    display: flex;
    min-width:  22rem; 
    min-height: 30rem; 
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    flex-shrink: 0; 
  }